[Unit]
Description=Storage warnings telegram

[Service]
Type=simple
WorkingDirectory="YOUR_INSTALL_DIR"
ExecStart="YOUR_INSTALL_DIR"/monitor-CPU-Mem.sh
Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target